body {
    font-size: 16px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%; /*this spreads page evenly.. you shouldnt rely on default! */
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
  }
  
  label{
    display: block; /*this puts labels below not next to each other*/
    margin: 0.5rem 0; /*more spreading :D*/
  }

  a {
    color: rgb(59, 126, 184);
  }

  a:active{
    color: rgb(51, 146, 16);
  }

  a:hover{
    color: rgb(204, 217, 204);
  }

  a:visited{
    color: gray;
  }

  h1,p {
    text-align: center;
    margin: 1em auto; /*this seems to manage how the site spreads*/
    }

    form {
      width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    }

    fieldset {
      border: none;
      padding: 2rem 0;
      border-bottom: 3px solid #3b3b4f;
    }

    input,textarea,select {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      min-height: 2em; /* bigger area to type in*/
    }

    fieldset:last-of-type {
      border-bottom: none; /*This removes border bottom... the back line*/
    }

    .inline {
      width: unset;
      margin: 0 0.5em 0 0; /*this is insted of typing margin-top,margin-bottom etc.*/
      vertical-align: middle;
    }

    input, textarea {
      background-color: #0a0a23; /* this changes color of the area to type*/
      border: 1px solid #0a0a23;
      color: #ffffff; /* white color of a font... of what you type in the form*/
    }
    
    input[type="submit"] {
      display: block;
      width: 60%; /*this styles the submit button.. very specific way of targeting*/
      margin: 0 auto ; /*this centers submit button*/
      height: 2em ; 
      font-size: 1.1rem;
      background-color: #3b3b4f;
      border-color: white;
    }